@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}

body {
  background-color: black;
}

button,
select,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

select,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
